<% layout('layout/boilerplate.ejs') %>

<section style="background-color: #eee">

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
              alt="avatar"
              class="rounded-circle img-fluid"
              style="width: 150px"
            />
            <h5 class="my-3"><%= user.username %> </h5>
            <div class="d-flex justify-content-center mb-2">
              <% let cnt = 0%> <%let ans = false; %>
                <%if(user.username!==currentUser.username) {%> <% for(let follower of
                user.followers){ %> <% if(follower.username===currentUser.username)
                {ans=true}; cnt++; %> <% } %> <% if(ans) {%>
                  <button type="button" class="btn btn-primary" ><a style = "color: white;" href="/users/<%=currentUser.id%>/<%=user._id%>/unfollow">Unfollow</a></button>

                <% } else{ %>
                  <button type="button" class="btn btn-primary"><a style = "color: white;" href="/users/<%=user._id%>/follow">Follow</a></button>
  
                <% } %> <% } %>
  
              
              <button type="button" class="btn btn-outline-primary ms-1">
                Message
              </button>
            </div>
          </div>
        </div>
        
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <h3 style="display: inline-block;">
                Followers 
              </h3>
            <ul class="list-group list-group-flush rounded-3">
             
                <% for(let follower of user.followers){ %>
              <li
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
              <a class="mb-0" href="/users/<%= follower._id %> "><%= follower.username %> </a>

              </li>
              <% } %> 
             
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">user.fullname</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Username</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%=user.username%></p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%=user.email%></p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">(097) 234-5678</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Mobile</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">(098) 765-4321</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
              </div>
            </div>
          </div>
        </div>
        <div style= "min-height: 150px; overflow: hidden;" class="row">
          <div style= "min-height: 150px; overflow: hidden;" class="col-md-12">
            <div style= "min-height: 150px; overflow: hidden;" class="card mb-4 mb-md-0">

                <h3 class="mb-4" >
                  History
                </h3>
                <% for(let game of user.history){ %>
                  <div style="min-height: 100px; margin-bottom: 20px; overflow: hidden;">
                      <h4><%= game.game %></h4>

                    <% if(game.status==="won") { %>
                      <div style="color: green;">Winner: <%=game.winner%></div>
                      <div style="color: red">Loser: <%=game.loser%> </div>
                    <% } else { %>
                      <div style="color: grey;"><%=game.winner%></div>
                      <div style="color: grey"><%=game.loser%> </div>
                      <% } %>
                  </div>
                <% }%>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>


